body{
    font-family: "Roboto", "Roboto Regular", "Roboto Bold", "Roboto Medium", sans-serif;
    color: #2e2f42;
    background-color: #FCFCFC;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    letter-spacing: 0.02em;
    color: #434455;
}

ul{
    list-style-type: none;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .logo-header{
    color: #2e2f42;
}

.logo .logo-footer{
    color: #f4f4fd;
}

.page-nav .link{
    font-weight: 500;
    letter-spacing: 0.02em;
}

.page-nav a:hover{
    color: #404bbf;
}

.page-nav .link-studio:active{
    color: #404bbf;
    background: #404bbf;
}
.nav-adress a{
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-adress a:hover{
    color: #404bbf;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.section-main button{
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
}
button:hover{
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #4d5ae5;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-studio{
    text-align: center;
}

footer p{
    color: #f4f4fd;
}
